{% load static %}
<!DOCTYPE html>
<html>
    <head>
        {% block css %}
            <link rel = "stylesheet" type="text/css" href="{% static 'style/user.css' %}"/>
            <link rel = "stylesheet" type="text/css" href="{% static 'style/style.css' %}"/>
            <link rel = "stylesheet" type="text/css" href="{% static 'style/meterialize.css' %}"/>
            <link rel = "stylesheet" type="text/css" href="{% static 'style/meterialize.min.css' %}"/>
        {% endblock %}

        {% block chat %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="{% static 'js/meterialize.js' %}"></script>
            <script src="{% static 'js/materialize.min.js' %}"></script>            
            <script src="{% static 'js/chat.js' %}"></script>
        {% endblock %}
    </head>
    <body>

    {% block body%}
       
        <div class="row">
        <div class="col s12 m8 l6 offset-m2 offset-l3">
             
            <div>
                {% block form %}
                    
                <h1>Chat App</h1><br><br>
                <form action="" name="loginform" method="POST" onsubmit="return validate();">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" name="username" id="username" tabindex="2" class="form-control" placeholder="Username" value="">
                    </div><br>
                    <div class="form-group">
                        <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password" value="">
                    </div><br><br>
                        
                    <button onclick="validate()" id="button" >login</button><br><br>
                    <a href="/forgot_password">Forgot password?</a><br><br>
                    <a>New to chatapp?   </a><a href= "/registration">Signup</a>
                </form> 
                {% endblock %}
            </div>
        </div>
        </div>
        
      
    <script>
            function validate(){
                var username = document.forms["loginform"]["username"].value;
                var password = document.forms["loginform"]["password"].value;
                {% comment %} var passwordExpression = /[A-Z]{1}[a-zA-Z0-9]+[@#$_]+/; {% endcomment %}
                if (username=="" || password==""){
                    alert("Username/password cannot be empty")
                    return false;
                }
    </script>
    {% endblock %}
    </body>
</html>