body {
    text-align: center;
    position: sticky;
    padding-top: 200px;
    font-style: italic
}
h1 {
    font-size:50 ; font-style:bold; color: rgb(204, 210, 218); -webkit-text-stroke: 1px rgb(110, 85, 85)
}
div {
    font-size: 20; opacity: 10 ; color: rgb(21, 24, 24) 
}
#pass{
    font-size:20; color: white; border: 1.8px solid rgb(153, 144, 144); background-color: rgb(195, 189, 189)
}

#user{
    font-size:20; color: rgb(24, 23, 23) ;border: 1.8px solid rgb(153, 144, 144); background-color: rgb(195, 189, 189)
}

#button{
    border: 1.8px solid rgb(204, 200, 200);
    background-color: rgb(237, 240, 241);
    color: rgb(19, 18, 19);
    font-size: 18px;
    cursor: pointer;
}

a {
    color:rgb(245, 249, 252)
}